.pickOrigDest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#arrow {
  height: 5vh;
  width: 8vw;
}
body {
  background: url("/static/news/img/transLitBackground.png") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}
