.pickOrigDest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.icon {
  height: 3vh;
  width: 5vw;
}
body {
  background: url("/static/news/img/background.png") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
}

h2 {
  font-family: 'Raleway';
  font-size: 80px;
}

h4 {
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: 500;
}

h5 {
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 500;
  margin-top: 2vh;
  margin-bottom: 0;
}

.belowButtons {
  margin-left: 4vw;
}

.routeLabel {
  margin-left: 2vh;
  margin-bottom: 3vh;
  margin-top: 9vh;
}
.stationSelect {
  width: 92vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}
.leftStationSelect {
  display: flex;
  align-items: center;
}
.rightStationSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.station {
  height: 12vh;
  border-bottom: 1px solid gray;
  width: 60vw;
}

.stationSelectSpace {
  display: flex;
  justify-content: space-around;
}

.stationName {
  width: 50vw;
  height: 65px;
  overflow-y: hidden;
  font-family: 'Raleway';
  font-size: 48px;
  font-weight: 300;
  margin: 15px !important;
}

.stationArrow {
  float: right;
}

.startToFinish {
  width: 70px;
}

.shadowed {
  box-shadow: 7px 7px 23px grey;
  border-radius: 30px;
}

.trainTime {
  margin-left: 3vw;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
}

.timeLabel {
  margin: 2vw;
}

.trainSelect {
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
}

#from, #to {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 60px;
  overflow-y: auto;
}

.stationList > *{
  width: 90vw;
}

.topButtons img {
  margin-left: 50px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
}

.stationList {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.stationList li {
    margin:0 5px 0 0;
    height: 100px;
    position:relative;
}

.stationList label, .stationList input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.stationList input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.stationList input[type="radio"]:checked + label {
    background:green;
}

.stationList label {
     padding:5px;
     border-bottom:1px solid gray;
    z-index:90;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressBar {
  width: 100vw;
  font-family: 'Raleway';
  font-size: 25px;
  margin: 0 auto;
  height: 40px;
  background-color: #0A5F44;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:1000;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #02B395;
  box-sizing: border-box;
}
