{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Final Project Home</title>

		<link rel="stylesheet" type="text/css" href="{% static '/news/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/news/css/main.css' %}" />

		<script src="{% static '/news/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/news/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
		Hey, let's pull from the News API
	</body>
</html>