{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Route Selection</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,500i,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/news/css/main.css' %}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!---->
	</head>
  <body id = "route">
		<div class = "topButtons">
			<a href = {% url 'welcome' %} >
      	<img class ="backButton" src="https://png.icons8.com/windows/1600/left.png">
      </a>
		</div>
		<div class = "belowButtons">

			<h2> Select your Route </h2>

			<h4 class = "routeLabel"> Stations </h4>
			<div class = "stationSelect shadowed">
				<div class = "leftStationSelect">
					<img class = "startToFinish" src = "{% static '/news/img/startToFinish.png' %}">
				</div>
				<div class = "rightStationSelect">
					<div class = "station">
						<h5> Start </h5>
						<div onclick = "start()" class = "stationSelectSpace">
							<p class = "stationName" id = "stationNameFrom"> </p>
							<img class = "icon stationArrow" src=" https://png.icons8.com/android/50/000000/forward.png">
						</div>
					</div>
					<div class = "station">
						<h5> Stop </h5>
						<div onclick = "stop()" class = "stationSelectSpace">
							<p class = "stationName" id = "stationNameTo"> </p>
							<img class = "icon stationArrow" src=" https://png.icons8.com/android/50/000000/forward.png">
						</div>
					</div>
				</div>
			</div>
			<h4 class = "routeLabel shifting"> </h4>
			<div class = "trainSelect" id = "from">
				<ul class = "stationList" id = "fromList">
				</ul>
			</div>
			<div class = "trainSelect" id = "to">
				<ul class = "stationList" id = "toList">
				</ul>
			</div>
			<div class = "trainSelect" id = "trains">
			<!--	<div class = "trainTime shadowed">
					<h5 class = "timeLabel"> 10:30pm </h5>
				</div>
				<div class = "trainTime shadowed">
					<h5 class = "timeLabel"> 10:45pm </h5>
				</div> -->
			</div>
		</div>
		<script type = "text/javascript" src = "{% static '/news/js/interpretURL.js' %}" /></script>
		<script type = "text/javascript">
			$("#from").hide();
			$("#to").hide();
			$("#trains").hide();
			retrieveStations();
			function start() {
				$(".shifting").text("Start");
				$("#to").hide();
				$("#trains").hide()
				$("#from").show();
			}
			function stop() {
				$(".shifting").text("Stop");
				$('#from').hide();
				$("#trains").hide()
				$("#to").show();
			}

			var myTimer = window.setInterval(function() {
				var origin = $("input[name='departing']:checked").val();
				var destination = $("input[name='arriving']:checked").val();
				if (origin != undefined) {
					$("input[name='departing']:checked").each(function() {
        		var idVal = $(this).attr("id");
        		$("#stationNameFrom").text($("label[for='"+idVal+"']").text());
    			});
				}
				if (destination != undefined) {
					$("input[name='arriving']:checked").each(function() {
        		var idVal = $(this).attr("id");
        		$("#stationNameTo").text($("label[for='"+idVal+"']").text());
    			});
				}
				if (origin != undefined && destination != undefined) {
					retrieveTrains(origin, destination);
					$(".shifting").text("Trains");
					$("#trains").show();
					$("#from").hide();
					$("#to").hide();
					clearInterval(myTimer);
				}
			}, 100)
			function retrieveStations() {
				var url = 'http://api.bart.gov/api/stn.aspx?cmd=stns&key=MW9S-E7SL-26DU-VV8V&json=y'
				$.getJSON([url], function(response) {
					var stations = response.root.stations.station;
					console.log(stations)
					for (var i = 0; i < stations.length; i++) {
						let listItem = document.createElement('li');
						let radButton = document.createElement('input');
						let label = document.createElement('label');
						radButton.id = stations[i]["abbr"] + "d";
						label.setAttribute('for', stations[i]["abbr"] + "d");
						label.innerHTML = stations[i]["name"];
						radButton.type = "radio";
						radButton.name = "departing";
						radButton.value = stations[i]["abbr"];
						listItem.append(radButton);
						listItem.appendChild(label);
						$("#fromList").append(listItem);
						let listItem1 = document.createElement('li');
						let toButton = radButton.cloneNode(true);
						let label1 = label.cloneNode(true);
						toButton.name = "arriving";
						toButton.id = stations[i]["abbr"] + "a";
						label1.setAttribute('for', stations[i]["abbr"] + "a");
						listItem1.append(toButton);
						listItem1.append(label1);
						$("#toList").append(listItem1);
	 				}
				})
			}

			function retrieveTrains(origin, destination) {
				console.log(origin);
				console.log(destination);
				var url = 'http://api.bart.gov/api/sched.aspx?cmd=depart&a=4&b=0&orig='+ origin +'&dest=' + destination + '&key=MW9S-E7SL-26DU-VV8V&json=y';
	      $.getJSON([url], function(response) {
					console.log(response);
					var trips = response.root.schedule.request.trip;
					for (var i = 0; i < trips.length; i++){
						let ii = i;
						var div = document.createElement('div');
						var h5 = document.createElement('h5');
						h5.classList.add("timeLabel");
						div.classList.add("trainTime");
						div.classList.add("shadowed");
						div.append(h5);
						h5.innerHTML = trips[i]["@origTimeMin"];
						div.onclick = function() {
							window.location.href = "{% url 'welcome' %}" + '?' + trips[ii]["@destTimeDate"] + '?' + trips[ii]["@destTimeMin"];
						}
						$("#trains").append(div);
					}
	      })
			}
		</script>
	</body>
</html>

<!-- Sample Train Times:

<div class = "trainTime shadowed">
	<h5 class = "timeLabel"> 10:30pm </h5>
</div>
<div class = "trainTime shadowed">
	<h5 class = "timeLabel"> 10:45pm </h5>
</div>
-->
