{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Book-name</title>
    <meta name="viewport" content="width=device-width,height=device-height,minimum-scale=1,maximum-scale=1"/>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
        <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
        <script>
    $(function(){
      $("#article1").load("read.html");
    });
    $(function(){
      $("#article2").load("preview.html");
    });
    $(function(){
      $("#article3").load("welcome.html");
    });
    $(document).on('swipeleft', '.ui-page', function(event){
    if(event.handled !== true) // This will prevent event triggering more then once
    {
        var nextpage = $.mobile.activePage.next('[data-role="page"]');
        // swipe using id of next page if exists
        if (nextpage.length > 0) {
            $.mobile.changePage(nextpage, {transition: "slide", reverse: false}, true, true);
        }
        event.handled = true;
    }
    return false;
});

$(document).on('swiperight', '.ui-page', function(event){
    if(event.handled !== true) // This will prevent event triggering more then once
    {
        var prevpage = $(this).prev('[data-role="page"]');
    </script>
</head>

<body>
  <div data-role="page" id="article1">
  </div>

  <div data-role="page" id="article2">
  </div>

  <div data-role="page" id="article3">
    </div>
</body>
</html>
